In [4]:
import requests 
import pandas as pd
url= 'https://raw.githubusercontent.com/Brady1754/Brady-NFL-Stats-/main/cost-of-living.csv'
df = pd.read_csv(url)
df.head()

,Unnamed: 0,"Saint Petersburg, Russia","Istanbul, Turkey","Izmir, Turkey","Helsinki, Finland","Chisinau, Moldova","Milan, Italy","Cairo, Egypt","Banja Luka, Bosnia And Herzegovina","Baku, Azerbaijan",...,"Lviv, Ukraine","Novosibirsk, Russia","Bursa, Turkey","Brussels, Belgium","Jerusalem, Israel","Melbourne, Australia","Perth, Australia","Sydney, Australia","Alexandria, Egypt","Quito, Ecuador"
0,"Meal, Inexpensive Restaurant",7.34,4.58,3.06,12.00,4.67,15.0,3.38,3.58,5.27,...,3.75,5.72,3.82,15.0,15.56,10.22,12.43,11.81,2.81,3.59
1,"Meal for 2 People, Mid-range Restaurant, Three...",29.35,15.28,12.22,65.00,20.74,60.0,17.48,22.99,23.73,...,18.76,22.01,11.47,60.0,62.24,49.54,56.55,54.37,14.06,31.45
2,McMeal at McDonalds (or Equivalent Combo Meal),4.40,3.82,3.06,8.00,4.15,8.0,4.51,3.58,4.22,...,3.56,3.67,3.06,8.2,12.97,7.12,7.32,7.15,3.38,5.39
3,Domestic Beer (0.5 liter draught),2.20,3.06,2.29,6.50,1.04,5.0,1.69,1.02,0.84,...,1.50,1.10,2.37,4.0,7.26,5.57,5.90,4.97,1.69,1.35
4,Imported Beer (0.33 liter bottle),2.20,3.06,2.75,6.75,1.43,5.0,2.82,1.53,2.11,...,1.50,2.20,3.06,4.0,7.26,5.57,5.59,4.97,2.81,2.70

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
lm = LinearRegression()
lm

LinearRegression()

In [12]:
X = df[['Lviv,Ukraine']]
Y = df['Imported Beer']

KeyError: ignored

In [9]:
lm.fit(X,Y)

NameError: ignored

In [ ]:
Yhat=lm.predict(X)
Yhat[0:5]

In [ ]:
lm.intercept_

In [ ]:
lm.coef_

In [ ]:
lm.intercept_

In [ ]:
lm.coef_

In [ ]:
# import the visualization package: seaborn
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
width = 12
height = 10
plt.figure(figsize=(width, height))
sns.regplot(x="Lviv,Ukraine", y="Imported Beer", data=df)
plt.ylim(0,)

In [ ]:
plt.figure(figsize=(width, height))
sns.regplot(x="Lviv,Ukraine", y="Imported Beer", data=df)
plt.ylim(0,)

In [ ]:
Y_hat = lm.predict(Y)

In [ ]:
plt.figure(figsize=(width, height))


ax1 = sns.distplot(df['Lviv,Ukraine'], hist=False, color="r", label="Cold Beer")
sns.distplot(Y_hat, hist=False, color="b", label="Fitted Values" , ax=ax1)


plt.title('Country v Beer')
plt.xlabel('Cold Beer')
plt.ylabel('Variables of Beer')

plt.show()
plt.close()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns